
.bg{
    background:url('../../../assets/vehi.jpg')no-repeat;
    width: 100%;
    height: 100vh;
}
.form-container{
    border: 1px solid #fff;
    padding: 30px 40px;
    margin-top: 20vh;
    -webkit-box-shadow: 1px 7px 21px 0px rgba(163,155,163,1);
    -moz-box-shadow: 1px 7px 21px 0px rgba(163,155,163,1);
    box-shadow: 1px 7px 21px 0px rgba(163,155,163,1);
}
    