#content-bodyyy{
    position: relative;
    text-align: center;
    opacity: 0.8;
    background:url('../../../assets/van.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-size: 100% 750px;
}
#contentbodyy{
  background-color: rgb(150, 172, 175);
}
#van{
  background-color: rgb(220, 228, 228);
  opacity: 0.7;
}
#vehiclecard{
  width: 30rem;
  border:1px solid;
  border-color:white;  
}
 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 
#choose_div{
    display:block;
    float:left;
    width: auto;
    height: 100%;
    padding: 1px;
    }
  #frame_div{
   float:right;
   height: auto;
    width: 80%;
    height: 100%;
    border: 2px 2px 2px 2px;
    border-left:solid 2px #000000;
    padding:10px;
    overflow:hidden;
  }