footer{
    background-color:rgb(14, 69, 199);
    padding: 40px;
    bottom:0;
    width:100%;
    position: relative;
    /* bottom: 0;
    left: 0;
    right: 0; */
}

#footsup{
    color: white;
}