#content-body{
    background-color: rgb(231, 231, 238);
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
h1{
    font-family: 'Allerta Stencil', sans-serif;
}
.page{
    font-family: 'Stardos Stencil', cursive;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
/* *, ::after, ::before {

    box-sizing: border-box;

} */
.inner{
    width:100%;
}
.carousel {
    margin-bottom: 2rem;
    position: relative;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 50px;
}
.carousel-item {
    height: 40rem;
    /* background-color: rgb(252, 246, 246); */
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
carousel-item > img {
    top: 20%;
    bottom:0;
    left: 0;
    right:0;
    width: 100%;
}
img {
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    bottom:28%;
    width: 100%;
    vertical-align: middle;
    border-style: none;
    position:relative;
}
.carousel-caption {
    z-index: 10;
    position: absolute;
    right: 15%;
    bottom: -65px;
    left: 15%;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 200px;
    color: white;
    text-align: center;
}
.outline{
    font-size: 12px
}

  .item{
      animation-play-state:running;
    /* animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-transition: none !important; */
  }
  /* .slide{
    animation-play-state:running;
  } */
